__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.ruff_cache/
.ipynb_checkpoints/

data/

artifacts/*
!artifacts/.gitkeep
!artifacts/checkpoints/
!artifacts/checkpoints/.gitkeep
!artifacts/logs/
!artifacts/logs/.gitkeep
!artifacts/reports/
!artifacts/reports/.gitkeep

models/*
!models/.gitkeep

.idea/

